@import "constantMixins";

.messages-details-box{
    width: calc(100vw - 461px);
    height: calc(100vh - $title-bar-height);
    display: flex;

    .messages-box{
        width: calc(100vw - 542px);//503
        height: calc(100vh - $title-bar-height);
        border-left: 1px solid $border-col;
        border-right: 1px solid $border-col;

        .top-bar-blur{
            position: absolute;
            width: calc(100vw - 542px);
            top: $title-bar-height;
            height: 52px;
            background: $top-layer-blur;
            display: flex;
            align-items: center;
            backdrop-filter: blur(10px);
            z-index: 1000;

            .friends-icon{
                margin-left: 15px;
                overflow: hidden;
                width: 35px;
                height: 35px;
                background: transparent;
                border-radius: 50%;

                .icon{
                    display: inline;
                    min-width: 100%;
                    margin: 0 auto;
                    height: 100%;
                    object-fit: cover;
                }

                .icon-house-light, .icon-house-dark{
                    overflow: hidden;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $darker-side-bar-col;
                }
            }

            h1{
                margin-left: 15px;
                font-size: 24px;
                color: $text-col;
            }
        }

        .text-messages-box{
            width: calc(100vw - 542px);
            height: calc(100vh - $title-bar-height);
            z-index: 500;

            .text-messages-container-plain{
                width: calc(100vw - 542px);
                height: calc(100vh - $title-bar-height);
                background: $darker-side-bar-col;

                .background-img-container{
                    width: calc(100vw - 542px);
                    height: calc(100vh - $title-bar-height);
                    overflow: hidden;
                    z-index: 100;
        
                    .background-img{
                        display: inline;
                        min-width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .chat-bg-layer{
                    background: $chat-bg-layer; 
                    margin-top: calc(-100vh + $title-bar-height);
                    width: calc(100vw - 542px);
                    height: calc(100vh - $title-bar-height);
                    overflow-y: auto;
                    position: absolute;
                    z-index: 900;
                    .chat-aligner{
                        width: calc(100vw - 545px);
                        height: 52px;
                    }

                    .chat-aligner-plus{
                        width: calc(100vw - 714px);
                        height: 72px;
                    }

                    .chat-messages-begin{
                        margin-top: 15px;
                        font-size: 18px;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 8px;
                        width: fit-content;
                        border-radius: 17px;
                        background-color: $darker-side-bar-col;
                        color: $text-col;
                    }
                }
            }

            .textback-box{
                position: fixed;
                z-index: 1000;
                bottom: 15px;
                width: calc(100vw - 572px);
                height: 40px;
                margin-left: 15px;
                display: flex;
                .friends-icon{
                    overflow: hidden;
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    border-radius: 50%;
                    .icon{
                        display: inline;
                        min-width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        object-fit: cover;
                    }

                    .icon-house-light, .icon-house-dark{
                        overflow: hidden;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $darker-side-bar-col;
                    }
                }

                input[type="text"]{
                    margin-left: 15px;
                    width: calc(100% - 158px);
                    height: 40px;
                    border: none;
                    padding: 0px 0px 0px 0px;
                    padding-left: 4px;
                    padding-right: 40px;
                    outline: none;
                    background: $darker-side-bar-col;
                    border-radius: 18px;
                    font-size: 14px;
                    font-family: 'Baloo Bhai 2', cursive;
                    color: $text-col;
                    z-index: 1000;
                }

                .input-holder{
                    width: calc(100% - 158px);
                    height: 40px;
                    margin-left: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .messageSendingObject{
                        position: fixed;
                        bottom: 15px;
                        margin-left: 45px;
                        width: calc(100vw - 730px);
                        border: none;
                        padding: 0px 0px 0px 0px;
                        padding-left: 10px;
                        padding-top: 10px;
                        padding-right: 40px;
                        outline: none;
                        background: $darker-side-bar-col;
                        border-radius: 18px;
                        font-size: 14px;
                        font-family: 'Baloo Bhai 2', cursive;
                        color: $text-col;
                        z-index: 1000;
                    }
                }

                .emoji-icon, .nav-icon{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 2px;
                    right: 2px;
                    z-index: 1500;
                    cursor: pointer;
                }

                .nav-icon{
                    background: $dark-selected-col;
                    border-radius: 17px;
                    img{margin-top: -1.5px;}
                }

                .emoji-icon{right: 55px;}

                .emoji-picker-holder{
                    right: -75px;
                    bottom: 60px;
                    width: 315px;
                    height: 400px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 9px;
                    z-index: 4000;
                    border: 0.5px solid $emoji-border-col;

                    em-emoji-picker {
                        --background-rgb: $lighter-side-bar-col;
                        --border-radius: 9px;
                        --category-icon-size: 24px;
                        --font-family: 'Baloo Bhai 2', cursive;
                        --font-size: 12px;
                        width: 315px;
                        height: 400px;
                    }
                }
            }
        }
    }

    .details-box{
        width: 79px;
        height: calc(100vh - $title-bar-height);
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $darker-side-bar-col;
        .friends-icon{
            margin-top: 33px;
            overflow: hidden;
            width: 40px;
            height: 40px;
            background: transparent;
            border-radius: 50%;

            .icon{
                display: inline;
                min-width: 100%;
                margin: 0 auto;
                height: 100%;
                object-fit: cover;
            }

            .icon-house-light, .icon-house-dark{
                overflow: hidden;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $darker-side-bar-col;
            }
        }

        .nav-icon{
            margin-top: 36px;
        }
    }
}

.left-message-bubble{margin-left: 15px;}

.right-message-bubble{ margin-left: auto; 
    margin-right: 17px;}

.left-message-bubble, .right-message-bubble{
    max-width: 41%;
    width: fit-content;
    min-height: 54px;
    display: flex;
    margin-top: 26px;
    z-index: 900;
    .message-bubble{
        max-width: calc(100% - 40px);
        min-height: 40px;
        height: min-content;
        border-radius: 17px;
        p{
            padding-left: 8px;
            padding-right: 8px;
            color: $text-col;
            font-size: 12px;
            word-wrap: break-word;
            font-weight: 400;
            text-align: left;
            -webkit-user-select: text;  /* Chrome all / Safari all */
            -moz-user-select: text;     /* Firefox all */
            -ms-user-select: text;      /* IE 10+ */
            user-select: text;          /* Likely future */ 
        }
    }

    .received-msg{background: $darker-side-bar-col; margin-left: 15px;}

    .sent-msg{background: $light-blue-col; margin-right: 15px;}

    .user-info-dlg{
        width: 40px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: normal;
        
        .friends-icon{
            overflow: hidden;
            margin-left: 2.5px;
            width: 40px;
            height: 40px;
            background: transparent;
            border-radius: 50%;
            .icon{
                display: inline;
                min-width: 100%;
                margin: 0 auto;
                height: 100%;
                object-fit: cover;
            }

            .icon-house-light, .icon-house-dark{
                overflow: hidden;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $darker-side-bar-col;
            }
        }

        h2{
            font-size: 10px;
            width: 40px;
            word-wrap: break-word;
            color: $text-col;
            text-align: center;
            font-weight: 400;
        }
    }
}

